<meta http-equiv="content-type" content="text/html, charset=utf-8">
<meta http-equiv="content-language" content="<?=CMSApplication::$languages[$cms_language_id]['url']?>">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<?if($mobile):?>
<meta name="viewport" content="width=device-width, initial-scale=<?=$mobile['initial-scale']?>, maximum-scale=<?=$mobile['maximum-scale']?>, user-scalable=<?=$mobile['user-scalable']?><?if($mobile['minimal-ui']):?>, minimal-ui<?endif?>">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<?endif?>
<?if($cms_content && $cms_content->primval):?>
<meta name="keywords" content="<?if($cms_content->meta_keywords):?><?=$cms_content->meta_keywords?><?else:?><?=keywords($cms_content, "title", 15)?><?endif?>">
<meta name="description" content="<?if($cms_content->meta_description):?><?=$cms_content->meta_description?><?else:?><?=description($cms_content, "content", 25)?><?endif?>">
<?else:?>
<meta name="keywords" content="<?=$keywords?>">
<meta name="description" content="<?=$description?>">
<?endif?>

<link rel="shortcut icon" href="/favicon.ico" />
